 P:first-letter { font-size: 200%; font-style: italic; font-weight: bold; float:left }
 SPAN { text-transform: uppercase }
 H1#vip { text-align: center } 
 H1 { color: red }
 H1[title] { color : blue }
 EM { color: red }
 H1 > EM { color: blue }
 P { color: blue }
 P.czerwony.gruby { color: red; font-weight: bold }
 P:first-line { text-transform: uppercase }
 DIV > P:first-child { color: navy }
 A:focus:hover { color: yellow }
 A  {font-weight: 400}
 P { font-family: Arial, Helvetica, sans-serif }
 H1 { font-style: italic }
 H1 EM { font-style: oblique }
 P { font-variant: small-caps }
 EM { font-size: 1.5em }
 P { font-stretch: ultra-expanded }
 A { text-decoration: overline }
 BODY { background-color: yellow }
	/*list-style-type: rodzaj wypunktowania:
	wartosci: disc | circle | square | decimal | decimal-leading-zero
	| lower-roman | upper-roman | lower-greek | lower-latin | upperlatin
	| armenian | georgian | lower-alpha | upper-alpha | none
	list-style-image: url("adres obrazka")
	obrazek wypunktowania
	url podajemy wzgledem lokalizacji arkusza CSS*/
 





