.main{
    width:780px;
    margin: auto;
}
img {
    height: auto; 
    width: auto; 
    max-width: 350px; 
}
.view {
   width: 350px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 10px solid #dff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 5px 5px 10px  #e6e6e6;
   -moz-box-shadow: 5px 5px 10px  #e6e6e6;
   box-shadow: 5px 5px 10px #e6e6e6;
}
.view .mask {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 10px;
   left: 20px;
}

.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 20px;
   text-align: center;
}

.view img {
   display: block;
   position: relative;
   transition: all 0.7s ease-in-out;
}

.view p {
   filter: alpha(opacity=0);
   opacity: 0;
   transition: all 1s linear;
   transition: all 1s ease-in-out;
}

.view:hover img {
   -webkit-filter: blur(30px); -moz-filter: blur(30px);
   -o-filter: blur(30px); -ms-filter: blur(30px); 
   filter: url(#blur);
   filter: blur(30px); 
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
   -webkit-transition: 1.3s -webkit-filter linear;
   transition: 1.3s -webkit-filter linear;
}

.view:hover p{
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
